@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.table {
    @apply rounded-none;
}

.hover {
    @apply bg-secondary;
}

@layer components {
    .tag {
        @apply w-24 h-10 rounded-full text-base-100 flex items-center justify-evenly;
    }
}